@import url('https://fonts.googleapis.com/css2?family=Bungee&display=swap');

*{
    box-sizing: border-box;
}
body{
    background-color: #b8c6db;
    background-image: linear-gradient(315deg,#b8c6b8 0%, #f5f7f7 100%);
    font-family: 'Bungee', sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    height:100vh;
    overflow: hidden;
    margin: 0;
}
.quiz-container{
    
}